body{
  background-color: #f299fb;
}
#title{
  text-align:center;
  font-size: 35px;
  font-family: "Arial Black", Gadget, sans-serif
}
#desc{
  text-align:center;
  font-size: 18px;
  font-family: "Arial Black", Gadget, sans-serif
}
.label{
  display:inline-block;
  width: 45%;
  text-align: center;
  position: relative;
  font-size: 24px;
  font-family: "Arial Black", Gadget, sans-serif
}
.input{
  position: absolute;
  right: 10%;
  width: 50%;
  height: 30px;
}
#submitdiv{
  text-align: center;
}
#submit{
  width: 105px;
  height: 50px;
  font-size: 20px;
  font-family: "Arial Black", Gadget, sans-serif
}
#page2{
  display: none;
}
#text{
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
  font-size: 16px;
  font-family: "Arial Black", Gadget, sans-serif
}
#title2{
  text-align: center;
  font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif
}
#backdiv{
  text-align: center;
}
#back{
  width: 90px;
  height: 50px;
  font-size: 20px;
  font-family: "Arial Black", Gadge, sans-serif
}
